body{
    margin:0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}

/* Navbar styling */
.nav-container{
    display: flex;
    height: 10vh;
    align-items: center;
    background-color: rgb(1, 1, 15);
    justify-content: space-between;
    margin:0
    }
    .nav-left{
        display: flex;
        align-items: center;
    }
    .flash-logo{
        height:8vh;
        margin-left: 20px;
    }
    .flash-logo-text{
        font-family: 'Mukta', sans-serif;
        font-size: 30px;
        letter-spacing: 1px; 
        margin:0 10px;
        color:wheat
    
    }
    .nav-right{
    margin-right: 50px;
    }
    .code-link{
        color:wheat;
        font-size: 20px;
        text-decoration: none;
    }
    /* landing section styling */
    .landing-container{
        display: flex;
        min-height: 30vh;
        justify-content: space-between;
        align-items: center;
        margin:0px;
        flex-wrap: wrap;
    }
    .img-container{
        margin:0px;
        width: 100%;
        height: 60vh;
        margin-bottom: 10vh;
    }
   /* data input container */
  .data-container1{
      display: none;
    width:80vw;
    background-color:rgba(32, 3, 70, 0.801);
    min-height: 400px;
    margin:72px;
  }
   .data-container2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:80vw;
    background-color:rgba(32, 3, 70, 0.801);
    color: rgb(182, 145, 78);
    min-height: 400px;
   margin-left: 10vw;
margin-bottom: 10vh;
  }
  
  .text{
      text-align:center;
      font-weight: 800;
      line-height: 7vh;
  }


    /* bottom input panel styling */
    
    .bottom-panel{
        width: 100%;
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .form-group{
        margin-left: 4vw;
    }
    .form-container{
       text-align: center;
    }
    #bt{
    text-align: center;
    letter-spacing: 2px;
        font-family: 'IM Fell English SC', serif;
        font-weight: 500;
    }
    .btn{
        margin-bottom: 2vh;
    }
    .form-group1{
        margin: 2vh 15vw;
        margin-bottom: 5vh;
    }
    .form-group{
        margin: 2vh 15vw;
    }

    .subseq{
        letter-spacing: 2px;
        font-weight: 700; 
       }

       .subsequence{
        display: none;
       }
       .Subsequence{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 50px;
        margin-top: 29vh;

       }
    /* Encoding blocks */
.uninrz{
    display: none;
    width:90vw;
    background-color:rgba(32, 3, 70, 0.801);
    color: rgb(182, 145, 78);
    min-height: 400px;
    margin:72px;
}
   .NRZ-UniNRZ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:90vw;
    background-color:rgba(32, 3, 70, 0.801);
    color: rgb(182, 145, 78);
    min-height: 200px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left:5vw;
   }

   .nrzl{
    display: none;
    width:90vw;
    background-color:rgba(32, 3, 70, 0.801);
    color: rgb(182, 145, 78);
    min-height: 400px;
    margin:72px;
}
   .NRZL{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:90vw;
    background-color:rgba(32, 3, 70, 0.801);
    color: rgb(182, 145, 78);
    min-height: 400px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left:5vw;
   }

   
   .nrzi{
    display: none;
    width:90vw;
    background-color:rgba(32, 3, 70, 0.801);
    color: rgb(182, 145, 78);
    min-height: 400px;
    margin:72px;
}
   .NRZI{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:90vw;
    background-color:rgba(32, 3, 70, 0.801);
    color: rgb(182, 145, 78);
    min-height: 400px;
    max-height: 800px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left:5vw;
   }

   
   .rz{
    display: none;
    width:90vw;
    background-color:rgba(32, 3, 70, 0.801);
    color: rgb(182, 145, 78);
    min-height: 400px;
    margin:72px;
}
   .RZ{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:90vw;
    background-color:rgba(32, 3, 70, 0.801);
    color: rgb(182, 145, 78);
    min-height: 400px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left:5vw;
   }
   
   .mench{
    display: none;
    width:90vw;
    background-color:rgba(32, 3, 70, 0.801);
    color: rgb(182, 145, 78);
    min-height: 400px;
    margin:72px;
}
   .MENCH{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:90vw;
    background-color:rgba(32, 3, 70, 0.801);
    color: rgb(182, 145, 78);
    min-height: 400px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left:5vw;
   }
   
   .diffmech{
    display: none;
    width:90vw;
    background-color:rgba(32, 3, 70, 0.801);
    color: rgb(182, 145, 78);
    min-height: 400px;
    margin:72px; 
   }
   .DIFFMENCH{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:90vw;
    background-color:rgba(32, 3, 70, 0.801);
    color: rgb(182, 145, 78);
    min-height: 400px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left:5vw;
   }
   .ami{
    display: none;
    width:90vw;
    background-color:rgba(32, 3, 70, 0.801);
    color: rgb(182, 145, 78);
    min-height: 400px;
    margin:72px;  
   }
   .AMI{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:90vw;
    background-color:rgba(32, 3, 70, 0.801);
    color: rgb(182, 145, 78);
    min-height: 400px;
    margin-top: 10vh;
    margin-bottom: 10vh;
    margin-left:5vw;
   }
    .b8zs{
        display: none;
        width:90vw;
        background-color:rgba(32, 3, 70, 0.801);
        color: rgb(182, 145, 78);
        min-height: 400px;
        margin:72px; 
    }
    .B8ZS{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:90vw;
        background-color:rgba(32, 3, 70, 0.801);
        color: rgb(182, 145, 78);
        min-height: 400px;
        margin-top: 10vh;
        margin-bottom: 10vh;
        margin-left:5vw;
    }
    .hdb3{
        display: none;
        width:90vw;
        background-color:rgba(32, 3, 70, 0.801);
        color: rgb(182, 145, 78);
        min-height: 400px;
        margin:72px;   
    }
    .HDB3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:90vw;
        background-color:rgba(32, 3, 70, 0.801);
        color: rgb(182, 145, 78);
        min-height: 400px;
        margin-top: 10vh;
        margin-bottom: 10vh;
        margin-left:5vw;
    }
   .lps{
       letter-spacing: 2px;
       font-weight: 700;
   
   }
 
   



    /* footer styling */

    .footer-container{
        display: flex;
        justify-content: space-between;
        margin:0px;
        background-color: rgb(3, 3, 26);
        align-items: center;
        height: 10vh;
        flex-wrap: wrap;
    }
    
 
    .icons{
        width:30vw;
    display: flex;
    margin-right: 2vw;
    justify-content: space-between;
    flex-wrap: wrap;
    }
    .about{
        width:30vw;
        display:flex;
        justify-content: space-between;
        margin-left: 2vw;
        text-decoration: none;
        flex-wrap: wrap;
    }
    .link{
        font-size: 20px;
        color:wheat;
        text-decoration: none;
    }
    @media  (max-width:800px){
        .footer-container{
            height:18vh;
            flex-direction: column;
            align-items: center;
            justify-content:space-around;
        }
        .icons{
            width:90vw;
        }
        .about{
            width: 90vw;
        }
    }