body{
    margin:0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    overflow-x: hidden;
}


/* Navbar styling */
.nav-container{
    display: flex;
    height: 10vh;
    align-items: center;
    background-color: rgb(1, 1, 15);
    justify-content: space-between;
    margin:0
    }
    .nav-left{
        display: flex;
        align-items: center;
    }
    .flash-logo{
        height:8vh;
        margin-left: 20px;
    }
    .flash-logo-text{
        font-family: 'Mukta', sans-serif;
        font-size: 30px;
        letter-spacing: 1px; 
        margin:0 10px;
        color:wheat
    
    }
    .nav-right{
    margin-right: 50px;
    }
    .code-link{
        color:wheat;
        font-size: 20px;
        text-decoration: none;
    }
    .code-link:hover{
        text-decoration: none;
        color:cyan
    }
    /* landing section styling */
    .landing-container{
        position: relative;
        text-align: center;
        color: white;
    }
     .img-container{
         margin:0px; 
        width: 100vw; 
         height:100%;
     }
   /* data input container */
  .data-container1{
      display: none;

  }
   .data-container2{
    position: absolute;
    width:80vw;
    background-color:rgba(32, 3, 70, 0.801);
    color: rgb(182, 145, 78);
    min-height: 360px;
    top:2vh;
    left:10vw;
  }
  
  .text{
      text-align:center;
      font-weight: 800;
      line-height: 7vh;
  }


    /* bottom input panel styling */
    
    #bottom-panel{
        position: absolute;
        top:35vh;
        left: 20vw;
    }
    .form-group{
        margin-left: 4vw;
    }
    .form-container{
       text-align: center;
    }
    #bt{
    text-align: center;
    letter-spacing: 2px;
        font-family: 'IM Fell English SC', serif;
        font-weight: 800;
        color:rgb(240, 227, 44);
        line-height: 7vh;
    }
    .btn{
        margin-bottom: 2vh;
    }
    .form-group1{
        margin: 2vh 15vw;
        margin-bottom: 5vh;
    }
    .form-group{
        margin: 2vh 15vw;
    }

    .subseq{
        font-weight: 800;
        line-height: 7vh;
        margin-bottom: 0px;
       }
#sub{
    letter-spacing: 4px;
}
       .subsequence{
        display: none;
       }
       .Subsequence{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 50px;
        margin-top: 20vh;
        margin-bottom: 0px;
       }
       
    /* Encoding blocks */
.uninrz{
    display: none;
}
#UniNRZC {
    height: 250px !important;
    }
   .NRZ-UniNRZ{
    width:90vw;
    position: absolute;
    top:55vh;
    left:5vw;
    background-color:rgba(32, 3, 70, 0.801);
    color: rgb(182, 145, 78);
    min-height: 370px;
    margin-top:8vh;
    margin-bottom: 25px;
   }

   .nrzl{
    display: none;
}
   .NRZL{
    position: absolute;
    top:55vh;
    width:90vw;
    background-color:rgba(32, 3, 70, 0.801);
    color: rgb(182, 145, 78);
    min-height: 370px;
    margin-top: 8vh;
    margin-bottom: 10vh;
    margin-left:5vw;
   }

   .nrzi{
    display: none;
}
   .NRZI{
    position: absolute;
    top:55vh;
    width:90vw;
    background-color:rgba(32, 3, 70, 0.801);
    color: rgb(182, 145, 78);
    min-height: 370px;
    max-height: 800px;
    margin-top: 8vh;
    margin-bottom: 10vh;
    margin-left:5vw;
   }
 
   .rz{
    display: none;
}
   .RZ{
    position: absolute;
    top:55vh;
    width:90vw;
    background-color:rgba(32, 3, 70, 0.801);
    color: rgb(182, 145, 78);
    min-height: 370px;
    margin-top: 8vh;
    margin-bottom: 10vh;
    margin-left:5vw;
   }
   
   .mench{
    display: none;
}
   .MENCH{
    position: absolute;
    top:55vh;
    width:90vw;
    background-color:rgba(32, 3, 70, 0.801);
    color: rgb(182, 145, 78);
    min-height: 370px;
    margin-top: 8vh;
    margin-bottom: 10vh;
    margin-left:5vw;
   }
   
   .diffmench{
    display: none;
   }
   .DIFFMENCH{
    position: absolute;
    top:55vh;
    width:90vw;
    background-color:rgba(32, 3, 70, 0.801);
    color: rgb(182, 145, 78);
    min-height: 370px;
    margin-top: 8vh;
    margin-left:5vw;
    margin-bottom: 10vh;
   }
   .ami{
    display: none;
   }
   .AMI{
    position: absolute;
    top:55vh;
    width:90vw;
    margin-bottom: 10vh;
    background-color:rgba(32, 3, 70, 0.801);
    color: rgb(182, 145, 78);
    min-height: 370px;
    margin-top: 8vh;
    margin-left:5vw;
   }
    .b8zs{
        display: none;
    }
    .B8ZS{
        position: absolute;
        top:55vh;
        width:90vw;
        background-color:rgba(32, 3, 70, 0.801);
        color: rgb(182, 145, 78);
        min-height: 370px;
        margin-top: 8vh;
        margin-bottom: 10vh;
        margin-left:5vw;
    }
    .hdb3{
        display: none;  
    }
    .HDB3{
        position: absolute;
        top:55vh;
        width:90vw;
        background-color:rgba(32, 3, 70, 0.801);
        color: rgb(182, 145, 78);
        min-height: 370px;
        margin-top: 8vh;
        margin-bottom: 10vh;
        margin-left:5vw;
    }
   .lps{
       
       font-weight: 800;
       line-height: 7vh;
       margin-top: 1vh;
       margin-bottom: 0px;
   }    



    /* footer styling */

    .footer-container{
        display: flex;
        justify-content: space-between;
        margin:0px;
        background-color: rgb(3, 3, 26);
        align-items: center;
        height: 10vh;
        flex-wrap: wrap;
    }
    
 
    .icons{
     width:30vw;
    display: flex;
    margin-right: 2vw;
    justify-content: space-between;
    flex-wrap: wrap;
    }
    .about{
        width:30vw;
        display:flex;
        justify-content: space-between;
        margin-left: 2vw;
        text-decoration: none;
        flex-wrap: wrap;
    }
    .link{
        font-size: 20px;
        color:wheat;
        text-decoration: none;
    }
    .link:hover{
        text-decoration: none;
        color:cyan
    }
    @media  (max-width:800px){
        .footer-container{
            height:18vh;
            flex-direction: column;
            align-items: center;
            justify-content:space-around;
        }
        .icons{
            width:90vw;
        }
        .about{
            width: 90vw;
        }
    }